page-comment {
    #lime{
        font-size:15px;
        font-weight:600;
        border-bottom: .1px solid #c4c4c4;
    }
    .corner{
        top: -50px;
    }
    .palabras{
        font-family: 'Poppins', sans-serif;
    }
    .input{
        line-height: 60%;
        bottom: 5px;
        position: fixed;
    }
   
    .words{
        font-weight:0;
    }
    .post{
        border-width: 20px solid;
        background-color: #cdcdcd;
        border-radius: 25px;
    }
}
