page-comment {
    #lime{
        font-size:15px;
        font-weight:600;
        border-bottom: .1px solid #c4c4c4;
    }
    .corner{
        top: -50px;
    }
    .palabras{
        font-family: 'Poppins', sans-serif;
    }
    .input{
        position: fixed;
    }
    .words{
        font-weight:0;
    }
}
